*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    
}

.square_10{
    flex-basis: calc(100% / 10);
    height:calc(100% / 10);
    border: solid 1px black;
}

.square_9{
    flex-basis: calc(100% / 9);
    height:calc(100% / 9);
    border: solid 1px black;
}

.square_7{
    flex-basis: calc(100% / 7);
    height:calc(100% / 7);
    border: solid 1px black;
}

.clicked-green{
    background-color: green;
}

.clicked-red{
    background-color: red;
}